.app-header {
  flex: 0 0 auto;
  background-color: #282c34;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.app-footer {
  background-color: #282c34;
  color: white;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
}

.app-content {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  overflow: auto;
}
