.app__header {
  flex: 0 0 auto;
  background-color: #282c34;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.app__footer {
  background-color: #282c34;
  color: white;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
}

.app__content {
  flex: 1 1 auto;
  padding: 2rem 1rem;
  overflow: auto;
}

// GENERAL STYLES
.clickable {
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
