/* feature/load/LoadCard */

.load-card.ui.card {
  .load-card__trip {
    text-align: center;

    .trip__origin {
      display: block;
    }

    .trip__destination {
      display: block;
    }
  }

  .load-card__details.meta {
    display: flex;
    align-items: baseline;

    .details__value {
      flex: 1 1 auto;
      color: #000080;
      font-weight: bold;
      font-size: 1.5em;
      padding: 0.5rem;
    }

    .details__equiptment {
      flex: 0 0 auto;
    }
  }
}
