/* feature/load/LoadGrid styles */

.load-grid {
  .load-grid__value {
    color: #000080;
    font-weight: bold;
  }

  .load-grid__status {
    &.available {
      color: #21ba45;
      font-weight: bold;
    }
  }
}
